name: Archlinux

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        kind: [static, shared]

    container: archlinux:base-devel
    runs-on: ${{ matrix.os }}

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-Archlinux-${{ matrix.kind }}
        cancel-in-progress: true
    steps:
      - name: Installation
        run: |
          pacman -Sy --noconfirm --needed glibc git base-devel perl make unzip ninja
          git config --global --add safe.directory /__w/xmake/xmake
          git config --global --add safe.directory /__w/xmake-repo/xmake-repo
      - uses: actions/checkout@v1

      - name: Tests
        run: |
          ./configure
          make
          make run
          rm -rf build
          ./configure --generator=ninja --builddir=build-ninja
          ninja
          ninja run
