name: FreeBSD

on:
  pull_request:
  push:
  release:
    types: [published]

jobs:
  build:

    strategy:
      matrix:
        os: [macOS-12]
        kind: [static, shared]

    runs-on: ${{ matrix.os }}

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-FreeBSD-${{ matrix.kind }}
        cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1

      - name: Tests
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          sync: sshfs
          mem: 4096
          copyback: false
          prepare: pkg install -y git curl unzip gmake llvm gsed bash perl5 openssl ninja
          run: |
            ./configure
            gmake
            gmake run
            rm -rf build
            ./configure --generator=ninja --builddir=build-ninja
            ninja
            ninja run


